

<%= render 'books/list', book: @book ,user: current_user %>

<h1>Users</h1>
<table>
	<thead>
		<tr>
			<th>image</th>
		    <th>name</th>
		</tr>
	</thead>
	<tbody>
	  <% @users.each do |user| %><!-- 繰り返し処理 -->
		<tr>
			<td><%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td>
			<td><%= user.name %></td>
			<td><%= link_to "Show",user_path(user.id) %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
</div>
