
<h1>Bookers</h1>

<%= render 'books/list', book: @book %>

<h2>Books</h2>
<table>
	<thead>
		<tr>
			<th>Title</th>
		    <th>Opinion</th>
		</tr>
	</thead>
	<tbody>
	  <% @books.each do |book| %><!-- 繰り返し処理 -->
		<tr>
			<td><%= attachment_image_tag book.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %></td>
			<td><%= link_to book.title ,book_path(book.id) %></td>
			<td><%= book.body %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
</div>

